body{
	margin:0;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container {
	width: 760px;
	margin: auto;
}
.header {
	background-image: url('../images/freestocks-org-PxM8aeJbzvk-unsplash.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.text-center {
	text-align: center;
}
.d-inline-block {
	display: inline-block;
	width: 100%;
}
.header_title {
	width: 657px;
	border-radius: 15px;
	margin: 0 auto 185px;
	background-color: #ffffffd9;
	padding: 21px 0;
}
.header_logo {
	margin-top: 100px;
	margin-bottom: 20px;
}
.header_title h1 {
	font-size: 75px;
	line-height: 125px;
	color: #be0f34;
	font-weight: 800;
	font-family: "Avenir";
	text-align: center;
}
.main_block {
	float: left;
	width: 355px;
}
.main_title {
	margin: 40px 0;
}
.main_title h2 {
	font-size: 30px;
	line-height: 40px;
	color: #000000;
	font-weight: 500;
	font-family: "Avenir";
	text-align: center;
}
.main_block_info {
	width: 100%;
	background-color: #be0f34;
	padding: 0 30px 20px;
}
.m-r {
	margin-right: 50px;
}
.clear {
	clear: both;
}
.main_block img {
	width: 100%;
	height: 352px;
	display: block;
}
.main_block_info h3 {
	font-size: 30px;
	line-height: 60px;
	color: #ffffff;
	font-weight: 800;
	font-family: "Avenir";
	text-align: center;
}
.main_block_info p {
	font-size: 25px;
	line-height: 35px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Avenir";
	text-align: center;
}
.main_block_button {
	padding: 15px 0 40px;
}
.main_block_button a {
	font-size: 25px;
	line-height: 35px;
	color: #be0f34;
	font-weight: 500;
	font-family: "Avenir";
	text-align: center;
	padding: 6px 26px;
    text-decoration: none;
	border-radius: 15px;
	background-color: #ffffff;
	border: 4px solid #be0f34;
	display: inline-block;
}
.footer {
	background-color: #be0f34;
	padding: 10px 0 17px;
}
.footer-title h4 {
	font-size: 20px;
	line-height: 35px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Avenir";
	text-align: center;
}
.footer_social  {
	margin-top: 20px;
}
.footer_social_icons {
	background-image: url('../images/socials.png');
	background-repeat: no-repeat;
	display: inline-block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin: 0 4px;
}
.tw {
	background-position: -58px
}
.pt {
	background-position: -116px;
}
.in {
	background-position: -174px;
}